@import play.mvc.Http.Request
@import akka.util.Helpers.Requiring
@(tt: Seq[check], inventory: Seq[Data], car: Seq[String], widgets: Seq[Widget], form: Form[WidgetData])(implicit request: Request, messages: play.i18n.Messages)

    @main("Widgets") {
        @* Flash shows updates to a page *@
        @request.flash.asScala().data.map { case (name, value) =>
        <div class="@name">@value</div>
        }


        <div class="group1" id="segment1">

            <div class="starter">
                <h2> Welcome to YouTubeAnalyzer </h2>
            </div>
            @helper.form(routes.WidgetController.createWidget) {
                @helper.CSRF.formField

                @helper.inputText(form("name"), '_label -> " ",
                    'placeholder -> "Please enter your search here ",
                    'id -> "title",
                    'size -> 90, '_default -> "inline-block")

                <button class="btn" type="submit">Go!</button>
            }


        </div>

        <div class="search-list">
        @for(t <- tt) {

            <div class="group2" id="segment2">

                <h2 > Search Terms: @t.value.getValue  </h2>
                <ol>

                @for(cc <- t.getValue2) {

                    <li> <h4> Title : <a href="@routes.WidgetController.index3(t.value.getValue)"> @cc.title </a>
                        <br>

                        Author : <a href="@routes.WidgetController.owner(cc.chid)"> @cc.author </a>
                        <br>

                        Owner Videos : <a href="@routes.WidgetController.index2(cc.chid)"> Get Latest vedios from Owner Channel</a>
                        <br>

                        View Count  : @cc.viewcount <br>

                        Date : @cc.posted <br>

                    </h4></li>

                }
                </ol>

                <script>
                    const socket = new WebSocket("ws://localhost:9000/ws");

                    socket.addEventListener("open", function () {
                        setInterval(function () {
                            socket.send("@t.value.getValue");
                        }, 10000);
                    })

                    socket.addEventListener("message", function (msg) {
                        if (msg.data) {
                            const items = msg.split("\n");


                        }

                        // Update date here
                    });
                </script>
            </div>

        }
        </div>
    }
