@import play.mvc.Http.Request
@import akka.util.Helpers.Requiring
@(Videocontent :Seq[check],Searchterm:String,widgets: Seq[Widget], form: Form[WidgetData])(implicit request: Request, messages: play.i18n.Messages)

@main("Widgets") {



    @* Flash shows updates to a page *@
    @request.flash.asScala().data.map { case (name, value) =>
    <div class="@name">@value</div>
    }


    <div class="group1" id="segment1">

        <div class="starter">
            <h2> Welcome to YouTubeAnalyzer </h2>
        </div>
        @helper.form(routes.WidgetController.createWidget(request.path().substring(1))) {
            @helper.CSRF.formField

            @helper.inputText(form("name") ,'_label -> " ",
                'placeholder -> "Please enter your search here ",
                'id -> "title",
                'size -> 90,'_default -> "inline-block")

            <button class="btn" type="submit">Go!</button>
        }


    </div>

    <script>
        const socketMap = new Map();
    </script>

    <div class="search-list">
    @for(videocontent <- Videocontent) {

            <div class="group2" id="segment2">
                <h2 > Search Terms:  @videocontent.value.getValue  </h2>
                <ol id="search-@videocontent.value.getValue">
                @for(cc <- videocontent.getValue2 ){
                    <li> <h4> Title : <a href="@routes.WidgetController.index3(videocontent.value.getValue)">  @cc.title </a> <br>
                      Author :   <a href="@routes.WidgetController.owner(cc.chid)">  @cc.author  </a>       <br>
                        Owner Videos :  <a href="@routes.WidgetController.index2(cc.chid+Searchterm)"> Get Latest vedios from Owner Channel</a>  <br>
                        View Count  : @cc.viewcount       <br>
                        Date :     @cc.posted          <br>
                    </h4>
                    </li>
                }
                </ol>
            </div>
        <script>
            socketMap.set("@videocontent.value.getValue", {
                socket: new WebSocket("ws://localhost:9000/x/ws"),
                container: document.getElementById("search-@videocontent.value.getValue")
            });

            socketMap.get("@videocontent.value.getValue").socket.addEventListener("open", function () {
                const interval = setInterval(function () {
                    socketMap.get("@videocontent.value.getValue").socket.send("@videocontent.value.getValue");
                }, 60000);
            })

            socketMap.get("@videocontent.value.getValue").socket.addEventListener("message", function (msg) {
                if (msg.data) {
                    const { data } = msg;
                    const rawItems = data.split("\n");

                    for (let rawItem of rawItems) {
                        const dataItems = rawItem.split("/>");
                        const itemData = {
                            author: dataItems[0],
                            title: dataItems[1],
                            viewCount: dataItems[2],
                            id: dataItems[3],
                            date: dataItems[4]
                        };

                        const li = document.createElement("li");
                        const h4 = document.createElement("h4");

                        li.innerHTML = `<h4> Title : <a href="@routes.WidgetController.index3(videocontent.value.getValue)">  ${itemData.title} </a> <br>
                                          Author :   <a href=""> ${itemData.author} </a>       <br>
                                            Owner Videos :  <a href=""> Get Latest vedios from Owner Channel</a>  <br>
                                            View Count  : ${itemData.viewCount} <br>
                                            Date : ${itemData.date} <br>
                                        </h4>`;

                        // Uncomment the below line if want to remove existing videos.
                        //socketMap.get("@videocontent.value.getValue").container.innerHTML = "";

                        socketMap.get("@videocontent.value.getValue").container.appendChild(li);
                    }

                    var video= msg.toString();
                    var videoData=new Array(video.split("\n"));

                    console.log(msg.data);
                    // const items = msg.toString().split("\n");


                }


            });
        </script>
    }
    </div>
}
